<input type="text" id="search-overdue" placeholder="Поиск по имени и фамилии..." style="margin: 20px 0; padding: 10px; width: 90%; max-width: 400px;">
<table class="book-issue-table">
    <thead>
    <tr>
        <th>№</th>
        <th>Логин Telegram</th>
        <th>Имя и фамилия</th>
        <th>Книга</th>
        <th>Сотрудник</th>
        <th>Дата выдачи</th>
        <th>Дата возврата</th>
        <th>Книгу возвратили</th>
    </tr>
    </thead>
    <tbody>
    {% for issue in overdue_issues %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ issue.reader.telegram_username }}</td>
            <td>{{ issue.reader.full_name }}</td>
            <td>{{ issue.book.title }}</td>
            <td>{{ issue.issued_by|default_if_none:"-" }}</td>
            <td>{{ issue.issue_date }}</td>
            <td>{{ issue.return_date }}</td>
            <td>
                <form method="post" action="{% url 'delete_issue' issue.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="delete-button">Да</button>
                </form>
            </td>
        </tr>
    {% empty %}
        <tr><td colspan="8">Нет должников 🎉</td></tr>
    {% endfor %}
    </tbody>
</table>
