
{% load static %}
{% for book in books %}
<div class="book-card">
    <a href="{% url 'delete_book' book.pk %}" class="delete-icon" title="Удалить">❌</a>

    {% if book.cover_image %}
        <img src="{{ book.cover_image.url }}" alt="{{ book.title }}">
    {% else %}
        <img src="{% static 'images/default_cover.jpg' %}" alt="Обложка отсутствует">
    {% endif %}

    <p><strong>{{ book.title }}</strong></p>
    <p>Автор: {{ book.author }}</p>
    <p>Издательство: {{ book.publisher|default_if_none:"Не указано" }}</p>
    <p>Год: {{ book.year|default_if_none:"Не указано" }}</p>
    <p>Размещение: {{ book.location|default_if_none:"Не указано" }}</p>
    <p>Количество: {{ book.quantity }}</p>
</div>
{% endfor %}
